* text=auto eol=lf
*.png binary
*.jpg binary
*.webp binary

/.github export-ignore
/tests export-ignore
/workbench export-ignore
/testbench.yaml export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon export-ignore
/phpstan.neon.dist export-ignore
/rector.php export-ignore
/pint.json export-ignore
/CONTRIBUTING.md export-ignore
/vendor export-ignore
/node_modules export-ignore
/auth.json export-ignore
/composer.lock export-ignore
/.env export-ignore
/.env.* export-ignore
*.key export-ignore
*.pem export-ignore
*.sqlite export-ignore
*.sqlite-* export-ignore
*.log export-ignore
/.phpunit.cache export-ignore
/.phpunit.result.cache export-ignore
/.phpstan-cache export-ignore
/.rector-cache export-ignore
/.php-cs-fixer.cache export-ignore
/.idea export-ignore
/.vscode export-ignore
/coverage export-ignore
/build export-ignore
