/vendor/
/composer.lock
/.phpunit.cache/
/.phpunit.result.cache
/.phpstan-cache/
/.rector-cache/
/.php-cs-fixer.cache
/coverage/
/build/
/.idea/
/.vscode/
/auth.json
.env
.env.*
!.env.example
*.sqlite
*.sqlite-*
*.log
*.pem
*.key
.DS_Store
Thumbs.db
