includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    configDirectories:
        - config
    paths:
        - src
        - config
        - routes
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    tmpDir: .phpstan-cache
